<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Student list</title>
</head>
<body>

<h3>This is a student database records</h3>
{#loop through the student db and display individual records#}
    {% for student in students %}
        <li> {{ student.first_name }} {{ student.last_name }} {{ student.major }}  {{ student.year }}</li>
        <a href="{% url 'delete' student.id %}">Delete Record</a>
        <a href="{% url 'edit' student.id %}">Edit Record</a>
        <a href="{% url 'view' student.id %}">view Record</a>
    {% endfor %}
     <br>
    <a href="{% url 'new' %}">Add new record</a>
</body>
</html>